.navbar {
  height: 74px;
}

#banner {
  margin-top: 74px;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#top_counter .icon i {
  font-size: 33px;
}
#top_counter .content {
  flex-direction: column;
}
.navbar-brand i {
  font-size: 35px;
}

.banner-title {
  position: absolute;
  bottom: 0%;
  left: 0%;
  background-color: #fff;
}
.banner-title h1 {
  color: #000;
  font-size: 30px;
  text-transform: capitalize;
  padding: 10px 10px;
}
/* .banner-title h1 span {
} */

.banner-profile {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 10px 10px;
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-profile .profile-img {
  height: 150px;
  width: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.banner-profile .profile-img img {
  width: 100%;
  height: 100%;
}
.banner-profile button {
  border: none;
  background: rgba(17, 17, 17, 0.353);
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.banner-profile:hover button {
  opacity: 1;
  visibility: visible;
}

.banner-social-link {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  padding: 0px 10px;
  width: 190px;
}
.banner-social-link ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
.banner-social-link ul li a {
  font-size: 25px;
  margin: 0 4px;
  color: #111;
}
#left-sidebar {
  position: relative !important;
  height: 100vh;
}

.main-content {
  position: relative;
}
.theme-cyan:before,
.theme-cyan:after {
  left: 0;
}

.navbar-button {
  background-color: #01b2c6;
  border: 1px solid #01b2c6;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.navbar-button:hover {
  color: #01b2c6;
  background: transparent;
}

.main-content2 {
  height: 100vh;
}
.from-save-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.from-save-button button {
  background-color: #01b2c6;
  border: 1px solid #01b2c6;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.from-save-button button:hover {
  color: #01b2c6;
  background: transparent;
}
.from-save-button .btn-darft {
  background-color: transparent;
  border: 1px solid #01b2c6;
  color: #01b2c6;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.4s ease-in-out;
}
.from-save-button .btn-darft:hover {
  color: #fff;
  background: #01b2c6;
}


.basic-info, .info-wrap-border{
  border: 6px solid #01b2c6;
  padding: 10px;
}
.patient-profile-pic{}

.patient-profile-pic .upload-pic{
  border: 6px solid #01b2c6;
  height: 120px;
  position: relative;
  cursor: pointer;
}
.patient-profile-pic .upload-pic input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.patient-profile-pic .upload-pic label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #left-sidebar{
    position: fixed !important;
    top: 0;
    left: -250px !important; 
    margin-top: 74px !important;
  }  
}


.offcanvas-active #left-sidebar{
  left: 5px !important; 
}

@media (max-width: 991px) {
  .navbar-button {
    font-size: 10px;
    padding: 1px 4px;
}
#top_counter .icon i {
  font-size: 20px !important;
}
#top_counter .text{
  font-size: 10px;
}
#top_counter .number{
  font-size: 12px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0 !important;
  padding: 0px;
}
.navbar-brand i {
  font-size: 22px;
}
}